
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
  }

  .header {
    padding: 60px;
    text-align: center;
    background: lightslategray;
    color: pink;
  }

 /* style input with type text */
  input[type=text] {
    padding:10px;
    border-radius:10px;
    outline: none !important;
    border:1px solid pink;
  }

  button {
  /* remove default appearance of the button */
  appearance:none;
  -webkit-appearance:none;

  padding:10px;
  border:none;
  background-color: pink;
  color:white;
  border-radius:5px;
  }

  button:hover {
   opacity: 0.8;
  }

  h1 {
    font-size: 50px !important;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-style: italic;
  }
  
  /* Float four columns side by side with an padding of 20px */
  .column {
    width: 25%;
    display: inline-block;
    padding: 20px;
  }

  /* Make rows have an padding of 100px */
  .row {
      padding: 100px;
  }
  
  /* Make images fit the full size of the div with the card class  (No support for IE 11)*/
  img {
    width:100%;
    height:100%;
    object-fit: cover;
}

  /* Styling for the cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: whitesmoke;
  }

  /*  Make two column layout  on screens up to than 1200px; */
  @media screen and (max-width: 1200px) {
    .column {
      width: 50%;
      display: inline-block;
      margin-bottom: 20px;
    }
    .row {
        position: center;
        padding: 50px;
    }
    h1 {
        font-size: 30px;
      }
      h2 {
        font-size: 25px;
    }
  }

    /*  Make one column layout  on screens up to than 600px; */
    @media screen and (max-width: 600px) {
        .column {
          width: 100%;
          display: block;
          margin-bottom: 20px;
        }
        .row {
            position: center;
            padding: 50px;
        }
        h1 {
            font-size: 30px;
          }
          h2 {
            font-size: 25px;
        }
      }


  /*  Make one column layout  on screens smaller than 600px; */
  @media screen and (max-device-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .row {
        position: center;
        padding: 50px;
    }
    h1 {
        font-size: 30px;
      }
  }

/*  Make two column layout  on IPads etc; */
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    .column {
        width: 50%;
        display: inline-block;
        padding: 20px;
      }
      .row {
          position: center;
          padding: 50px;
      }
      h1 {
          font-size: 30px;
        }
  }